if errors && errors.length
  div.flash(class='errors')
    p= errors

if info && info.length
  div.flash(class='info')
    p= info

if success && success.length
  div.flash(class='success')
    p= success

if warning && warning.length
  div.flash(class='warning')
    p= warning
