extends ../layouts/admin.jade

block title
  title NodeFlow - Administration

block content
  h1 Dashboard

  #dashboard.col-md-12.col-sm-12
    .col-md-6.col-sm-12
      div.panel.panel-success
        div.panel-heading Users
        div.panel-body= counter.users

    .col-md-6.col-sm-12
      div.panel.panel-success
        div.panel-heading Posts
        div.panel-body= counter.posts
