extends ../layouts/admin.jade

block title
  title NodeFlow - Administration

block content
  h1 Users

  #users.col-md-12.col-sm-12
    table.table
      thead
        tr
          th Email
      tbody
        each user in users
          tr
            td= user.email

