extends ../layouts/application.jade

block title
  title Home

block content
  .jumbotron
    h1 NodeJS community linklog
    p Made a library? Written a blog post? Found a useful tutorial? Share it with the NodeJS community here or just enjoy what everyone else has found!
    span.remove-jumbotron.glyphicon.glyphicon-remove



