extends ./layouts/application.jade

block title
  title NodeFlow - 500

block content

  .jumbotron
    h1 500 - Oops, An error occured
    a(href='/') Comeback to Home

  if env == 'development'
    pre
      {{ error }}
