html
  head
    block title
      title NodeFlow - Home
  body
    include ../includes/flash.jade

    if !req.isAuthenticated()
      a(href='/signup') Sign up
      a(href='/signin') Sign in
    else
      a(href='/logout') Log Out

    block content
