html
  head
    block title
      title NodeFlow - Home
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==", crossorigin="anonymous")
    link(href='/assets/css/common.css', rel="stylesheet", type='text/css')
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          a.navbar-brand(href='/') NodeFlow
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            if !req.isAuthenticated()
              li
                a(href='/auth/github') Sign In with GitHub
              li
                a(href='/register') Sign up / Sign In
            else
              li
                a(href='/posts/new') Add post
              li
                a(href='/logout') Log Out

    include ../includes/flash.jade

    .container
      block content
      script(src='/assets/lib/jquery.min.js')
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous")
      script(src='/assets/js/common.js')
